<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clevertapper">
    <!-- Required to allow the app to send events and user profile information -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon ="@mipmap/ic_ct"
        android:roundIcon="@mipmap/ic_ct_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Zeke 3.8"
        android:name="com.clevertap.android.sdk.Application" >

       <activity android:name=".SplashScreen"
           android:noHistory="true"
           android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>



        <!-- CleverTap -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="W44-Z4K-K65Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="341-440"/>
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="0"/>

        <!-- replace below value with your FCM project number.-->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="844419891383"/>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--Notification -->
        <service
            android:name="com.example.clevertapper.CustomIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PUSH_EVENT"/>
            </intent-filter>
        </service>
        <!--Push Template-->

        <receiver
            android:name="com.clevertap.pushtemplates.PushTemplateReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>

        <!-- Push Amplification -->
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>

        <!--use CTBackgroundIntentService to target users below Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT"/>
            </intent-filter>
        </service>

        <!--use CTBackgroundJobService to target users on and above Android 21 (Lollipop)-->
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <!-- Small icon -->
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_c"/> <!-- name of your file in the drawable directory without the file extension. -->


        <!-- name of your file in the drawable directory without the file extension. -->

        <!-- IN APP Noti -->
        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            tools:replace="android:configChanges"/>


        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashScreen, .SplashScreen" />

        <!-- AB TEST -->
        <meta-data
            android:name="CLEVERTAP_APP_PACKAGE"
            android:value="com.example.clevertapper" />




    </application>

</manifest>